{{ ansible_manged | default('# This file is managed by Ansible') }}
systemLog:
  destination: file
  path: {{ mongodb_logpath }}
  logAppend: true
  verbosity: 0

storage:
  dbPath: {{ mongodb_dbpath }}

processManagement:
  fork: false

net:
  port: {{ mongodb_port }}
  bindIp: {{ mongodb_bind_ip }}
{% if mongodb_tls_enabled %}
  tls:
    mode: {{ mongodb_tls_mode }}
    certificateKeyFile: {{ mongodb_tls_cert_file }}
    CAFile: {{ mongodb_tls_ca_file }}
{% endif %}

security:
{% if mongodb_enable_auth %}
  authorization: enabled
{% else %}
  authorization: disabled
{% endif %}
{% if mongodb_keyfile_path %}
  keyFile: {{ mongodb_keyfile_path }}
{% endif %}

{% if mongodb_extra_options %}
{{ mongodb_extra_options | to_nice_yaml(indent=2) }}
{% endif %}
